01_PROYECTOS/01_ARNALDO_AGENCIA/workflows/repo-demo/MAESTRO-Router.json
{
  "updatedAt": "2026-03-02T22:22:57.594Z",
  "createdAt": "2026-03-02T10:44:23.439Z",
  "id": "bdjxbKMBKIoLD7NH",
  "name": "MAESTRO Router",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "maestro-demos-router",
        "options": {}
      },
      "id": "wb-01",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "c3d4e5f6-a1b2-4c3d-8e9f-0a1b2c3d4e5f"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.event }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "messages.upsert"
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.body?.data?.message?.conversation }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "fi-01",
      "name": "Filtro Webhook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    telefono: (item.body?.data?.key?.remoteJid || '').replace('@s.whatsapp.net', ''),\n    mensaje: (item.body?.data?.message?.conversation || '').trim().toLowerCase(),\n    mensaje_original: (item.body?.data?.message?.conversation || '').trim(),\n    nombre_wa: item.body?.data?.pushName || '',\n    es_mio: String(item.body?.data?.key?.fromMe || false),\n    body_original: JSON.stringify(item.body)\n  }\n}];"
      },
      "id": "ex-01",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "fi-02",
      "name": "No es mensaje mio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE",
          "mode": "list",
          "cachedResultName": "sesiones_demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE/edit#gid=0"
        },
        "options": {}
      },
      "id": "gs-01",
      "name": "Leer Sesiones Demo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ySGy5iHCXbMxirsk",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const telefono = $('Extraer Datos').first().json.telefono;\nconst mensaje = $('Extraer Datos').first().json.mensaje;\nconst mensaje_original = $('Extraer Datos').first().json.mensaje_original;\nconst nombre_wa = $('Extraer Datos').first().json.nombre_wa;\nconst body_original = $('Extraer Datos').first().json.body_original;\n\nlet filas = [];\ntry { filas = $input.all().map(i => i.json); } catch(e) { filas = []; }\n\nconst telLimpio = String(telefono).trim();\nconst encontrado = filas.find(f => String(f.telefono || '').trim() === telLimpio);\n\nif (encontrado && encontrado.demo_activa) {\n  return [{ json: { existe: true, telefono: telLimpio, mensaje, mensaje_original, nombre_wa, body_original, demo_activa: String(encontrado.demo_activa || '').trim().toLowerCase(), paso: String(encontrado.paso || '').trim().toLowerCase(), datos_extra: encontrado.datos_extra || '' } }];\n} else {\n  return [{ json: { existe: false, telefono: telLimpio, mensaje, mensaje_original, nombre_wa, body_original, demo_activa: '', paso: 'nuevo', datos_extra: '' } }];\n}"
      },
      "id": "co-01",
      "name": "Buscar Sesion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d1",
              "leftValue": "={{ $json.demo_activa }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      },
      "id": "if-01",
      "name": "Tiene Demo Activa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1568,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const demo = $input.first().json.demo_activa;\nconst body_original = $input.first().json.body_original;\n\nconst demos = {\n  'conecta':     'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/4973a60b-fbc7-4499-9fce-b76c25785570',\n  'tienda':      'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/tienda-ropa',\n  'restaurante': 'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/webhook/automatizacion-restaurantes',\n  'citas':       'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/agendamiento-citas',\n  'redes':       null\n};\n\nconst url = demos[demo];\nif (url === undefined) return [];  // demo key desconocida\nif (url === null) return [];       // en construcción, no rutear\n\nreturn [{ json: { demo_url: url, body_original } }];"
      },
      "id": "co-02",
      "name": "Enrutar a Demo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.demo_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_original }}",
        "options": {}
      },
      "id": "hr-01",
      "name": "Reenviar a Demo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        192
      ]
    },
    {
      "id": "co-det",
      "name": "Detectar Intención",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        420
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst telefono = data.telefono;\nconst msg = data.mensaje; // already lowercase\n\nconst MENU = `¡Hola! 👋 Bienvenido a *System IA Demos*.\n\nEstas son las demos disponibles:\n1️⃣ *Conecta CRM* - gestión automatizada de clientes\n2️⃣ *Redes Sociales* - automatización de publicaciones _(en construcción)_\n3️⃣ *Tienda de Ropa* - chatbot e-commerce para WhatsApp\n4️⃣ *Restaurantes y Bares* - reservas y menú por WhatsApp\n5️⃣ *Agendamiento de Citas* - sistema de citas por WhatsApp\n\nRespondé con el número de la demo que querés probar 🚀`;\n\nconst demoMap = {\n  '1': 'conecta', 'conecta': 'conecta', 'crm': 'conecta',\n  '2': 'redes', 'redes': 'redes',\n  '3': 'tienda', 'tienda': 'tienda', 'ropa': 'tienda',\n  '4': 'restaurante', 'restaurantes': 'restaurante', 'bar': 'restaurante', 'bares': 'restaurante',\n  '5': 'citas', 'citas': 'citas', 'agenda': 'citas', 'agendamiento': 'citas'\n};\n\nconst demoKey = demoMap[msg.trim()];\n\nlet accion, texto_respuesta;\n\nif (demoKey === 'redes') {\n  accion = 'redes';\n  texto_respuesta = '🚧 La demo de *Redes Sociales* está en construcción. Pronto estará disponible.\\n\\n¿Querés probar otra demo? Respondé con un número del 1 al 5.';\n} else if (demoKey) {\n  accion = 'activar';\n  texto_respuesta = '✅ ¡Perfecto! Tu demo está activada. En unos segundos te llegará el primer mensaje 🚀';\n} else {\n  accion = 'menu';\n  texto_respuesta = MENU;\n}\n\nreturn [{ json: { telefono, accion, demo: demoKey || '', texto_respuesta } }];"
      }
    },
    {
      "id": "hr-resp",
      "name": "Enviar Respuesta WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2000,
        420
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({number: $json.telefono, text: $json.texto_respuesta}) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZL2CdsQqaFeTMR2w",
          "name": "Header Auth Evolution api"
        }
      }
    },
    {
      "id": "if-act",
      "name": "¿Activar Demo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        420
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "x1",
              "leftValue": "={{ $('Detectar Intención').first().json.accion }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "activar"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          }
        },
        "options": {}
      }
    },
    {
      "id": "gs-upsert",
      "name": "Activar Sesión en GSheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2440,
        300
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Detectar Intención').first().json.telefono }}",
            "demo_activa": "={{ $('Detectar Intención').first().json.demo }}",
            "paso": "activo"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "demo_activa",
              "displayName": "demo_activa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso",
              "displayName": "paso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ySGy5iHCXbMxirsk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "co-url",
      "name": "Obtener URL Demo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ],
      "parameters": {
        "jsCode": "const demo = $('Detectar Intención').first().json.demo;\nconst body_original = $('Extraer Datos').first().json.body_original;\n\nconst demos = {\n  'conecta':     'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/4973a60b-fbc7-4499-9fce-b76c25785570',\n  'tienda':      'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/tienda-ropa',\n  'restaurante': 'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/webhook/automatizacion-restaurantes',\n  'citas':       'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/agendamiento-citas'\n};\n\nconst url = demos[demo];\nif (!url) return [];\n\nreturn [{ json: { demo_url: url, body_original } }];"
      }
    },
    {
      "id": "hr-arrancar",
      "name": "Arrancar Demo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2880,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.demo_url }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_original }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Filtro Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Webhook": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "No es mensaje mio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No es mensaje mio": {
      "main": [
        [
          {
            "node": "Leer Sesiones Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Sesiones Demo": {
      "main": [
        [
          {
            "node": "Buscar Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesion": {
      "main": [
        [
          {
            "node": "Tiene Demo Activa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene Demo Activa?": {
      "main": [
        [
          {
            "node": "Enrutar a Demo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutar a Demo": {
      "main": [
        [
          {
            "node": "Reenviar a Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta WA": {
      "main": [
        [
          {
            "node": "¿Activar Demo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Activar Demo?": {
      "main": [
        [
          {
            "node": "Activar Sesión en GSheets",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Activar Sesión en GSheets": {
      "main": [
        [
          {
            "node": "Obtener URL Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL Demo": {
      "main": [
        [
          {
            "node": "Arrancar Demo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "848d4ae9-8ba7-46c3-be74-de2c0bca9c00",
  "activeVersionId": "848d4ae9-8ba7-46c3-be74-de2c0bca9c00",
  "versionCounter": 96,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:44:23.440Z",
      "createdAt": "2026-03-02T10:44:23.440Z",
      "role": "workflow:owner",
      "workflowId": "bdjxbKMBKIoLD7NH",
      "projectId": "YfmAb61LMhjH6jFL",
      "project": {
        "updatedAt": "2026-03-02T10:33:35.043Z",
        "createdAt": "2026-03-02T10:28:45.056Z",
        "id": "YfmAb61LMhjH6jFL",
        "name": "Micaela Colmenares <micaelacolmenares208@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "92b9d887-3183-46b1-9db4-c38b54ef2cb6"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-02T22:22:57.595Z",
    "createdAt": "2026-03-02T22:22:57.595Z",
    "versionId": "848d4ae9-8ba7-46c3-be74-de2c0bca9c00",
    "workflowId": "bdjxbKMBKIoLD7NH",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "maestro-demos-router",
          "options": {}
        },
        "id": "wb-01",
        "name": "Webhook Evolution API",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "c3d4e5f6-a1b2-4c3d-8e9f-0a1b2c3d4e5f"
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.body.event }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "messages.upsert"
              },
              {
                "id": "c2",
                "leftValue": "={{ $json.body?.data?.message?.conversation }}",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "id": "fi-01",
        "name": "Filtro Webhook",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    telefono: (item.body?.data?.key?.remoteJid || '').replace('@s.whatsapp.net', ''),\n    mensaje: (item.body?.data?.message?.conversation || '').trim().toLowerCase(),\n    mensaje_original: (item.body?.data?.message?.conversation || '').trim(),\n    nombre_wa: item.body?.data?.pushName || '',\n    es_mio: String(item.body?.data?.key?.fromMe || false),\n    body_original: JSON.stringify(item.body)\n  }\n}];"
        },
        "id": "ex-01",
        "name": "Extraer Datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "f1",
                "leftValue": "={{ $json.body.data.key.fromMe }}",
                "operator": {
                  "type": "boolean",
                  "operation": "false"
                },
                "rightValue": ""
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            }
          },
          "options": {}
        },
        "id": "fi-02",
        "name": "No es mensaje mio",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          912,
          304
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE",
            "mode": "list",
            "cachedResultName": "sesiones_demo",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE/edit#gid=0"
          },
          "options": {}
        },
        "id": "gs-01",
        "name": "Leer Sesiones Demo",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1120,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "ySGy5iHCXbMxirsk",
            "name": "Google Sheets account"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const telefono = $('Extraer Datos').first().json.telefono;\nconst mensaje = $('Extraer Datos').first().json.mensaje;\nconst mensaje_original = $('Extraer Datos').first().json.mensaje_original;\nconst nombre_wa = $('Extraer Datos').first().json.nombre_wa;\nconst body_original = $('Extraer Datos').first().json.body_original;\n\nlet filas = [];\ntry { filas = $input.all().map(i => i.json); } catch(e) { filas = []; }\n\nconst telLimpio = String(telefono).trim();\nconst encontrado = filas.find(f => String(f.telefono || '').trim() === telLimpio);\n\nif (encontrado && encontrado.demo_activa) {\n  return [{ json: { existe: true, telefono: telLimpio, mensaje, mensaje_original, nombre_wa, body_original, demo_activa: String(encontrado.demo_activa || '').trim().toLowerCase(), paso: String(encontrado.paso || '').trim().toLowerCase(), datos_extra: encontrado.datos_extra || '' } }];\n} else {\n  return [{ json: { existe: false, telefono: telLimpio, mensaje, mensaje_original, nombre_wa, body_original, demo_activa: '', paso: 'nuevo', datos_extra: '' } }];\n}"
        },
        "id": "co-01",
        "name": "Buscar Sesion",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "d1",
                "leftValue": "={{ $json.demo_activa }}",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        },
        "id": "if-01",
        "name": "Tiene Demo Activa?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1568,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const demo = $input.first().json.demo_activa;\nconst body_original = $input.first().json.body_original;\n\nconst demos = {\n  'conecta':     'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/4973a60b-fbc7-4499-9fce-b76c25785570',\n  'tienda':      'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/tienda-ropa',\n  'restaurante': 'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/webhook/automatizacion-restaurantes',\n  'citas':       'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/agendamiento-citas',\n  'redes':       null\n};\n\nconst url = demos[demo];\nif (url === undefined) return [];  // demo key desconocida\nif (url === null) return [];       // en construcción, no rutear\n\nreturn [{ json: { demo_url: url, body_original } }];"
        },
        "id": "co-02",
        "name": "Enrutar a Demo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          192
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $json.demo_url }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.body_original }}",
          "options": {}
        },
        "id": "hr-01",
        "name": "Reenviar a Demo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2000,
          192
        ]
      },
      {
        "id": "co-det",
        "name": "Detectar Intención",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1780,
          420
        ],
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst telefono = data.telefono;\nconst msg = data.mensaje; // already lowercase\n\nconst MENU = `¡Hola! 👋 Bienvenido a *System IA Demos*.\n\nEstas son las demos disponibles:\n1️⃣ *Conecta CRM* - gestión automatizada de clientes\n2️⃣ *Redes Sociales* - automatización de publicaciones _(en construcción)_\n3️⃣ *Tienda de Ropa* - chatbot e-commerce para WhatsApp\n4️⃣ *Restaurantes y Bares* - reservas y menú por WhatsApp\n5️⃣ *Agendamiento de Citas* - sistema de citas por WhatsApp\n\nRespondé con el número de la demo que querés probar 🚀`;\n\nconst demoMap = {\n  '1': 'conecta', 'conecta': 'conecta', 'crm': 'conecta',\n  '2': 'redes', 'redes': 'redes',\n  '3': 'tienda', 'tienda': 'tienda', 'ropa': 'tienda',\n  '4': 'restaurante', 'restaurantes': 'restaurante', 'bar': 'restaurante', 'bares': 'restaurante',\n  '5': 'citas', 'citas': 'citas', 'agenda': 'citas', 'agendamiento': 'citas'\n};\n\nconst demoKey = demoMap[msg.trim()];\n\nlet accion, texto_respuesta;\n\nif (demoKey === 'redes') {\n  accion = 'redes';\n  texto_respuesta = '🚧 La demo de *Redes Sociales* está en construcción. Pronto estará disponible.\\n\\n¿Querés probar otra demo? Respondé con un número del 1 al 5.';\n} else if (demoKey) {\n  accion = 'activar';\n  texto_respuesta = '✅ ¡Perfecto! Tu demo está activada. En unos segundos te llegará el primer mensaje 🚀';\n} else {\n  accion = 'menu';\n  texto_respuesta = MENU;\n}\n\nreturn [{ json: { telefono, accion, demo: demoKey || '', texto_respuesta } }];"
        }
      },
      {
        "id": "hr-resp",
        "name": "Enviar Respuesta WA",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2000,
          420
        ],
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({number: $json.telefono, text: $json.texto_respuesta}) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "ZL2CdsQqaFeTMR2w",
            "name": "Header Auth Evolution api"
          }
        }
      },
      {
        "id": "if-act",
        "name": "¿Activar Demo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2220,
          420
        ],
        "parameters": {
          "conditions": {
            "combinator": "and",
            "conditions": [
              {
                "id": "x1",
                "leftValue": "={{ $('Detectar Intención').first().json.accion }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "activar"
              }
            ],
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            }
          },
          "options": {}
        }
      },
      {
        "id": "gs-upsert",
        "name": "Activar Sesión en GSheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          2440,
          300
        ],
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "14f2808Uxz8qUbG3BDPSCDk6o4fgLE_nTmwn1p-WHkYE",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "id"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefono": "={{ $('Detectar Intención').first().json.telefono }}",
              "demo_activa": "={{ $('Detectar Intención').first().json.demo }}",
              "paso": "activo"
            },
            "matchingColumns": [
              "telefono"
            ],
            "schema": [
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "demo_activa",
                "displayName": "demo_activa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "paso",
                "displayName": "paso",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ]
          },
          "options": {}
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "ySGy5iHCXbMxirsk",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "id": "co-url",
        "name": "Obtener URL Demo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2660,
          300
        ],
        "parameters": {
          "jsCode": "const demo = $('Detectar Intención').first().json.demo;\nconst body_original = $('Extraer Datos').first().json.body_original;\n\nconst demos = {\n  'conecta':     'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/4973a60b-fbc7-4499-9fce-b76c25785570',\n  'tienda':      'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/tienda-ropa',\n  'restaurante': 'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/webhook/automatizacion-restaurantes',\n  'citas':       'https://sytem-ia-pruebas-n8n.6g0gdj.easypanel.host/webhook/agendamiento-citas'\n};\n\nconst url = demos[demo];\nif (!url) return [];\n\nreturn [{ json: { demo_url: url, body_original } }];"
        }
      },
      {
        "id": "hr-arrancar",
        "name": "Arrancar Demo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          2880,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $json.demo_url }}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ $json.body_original }}",
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook Evolution API": {
        "main": [
          [
            {
              "node": "Filtro Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro Webhook": {
        "main": [
          [
            {
              "node": "Extraer Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer Datos": {
        "main": [
          [
            {
              "node": "No es mensaje mio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No es mensaje mio": {
        "main": [
          [
            {
              "node": "Leer Sesiones Demo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Sesiones Demo": {
        "main": [
          [
            {
              "node": "Buscar Sesion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Sesion": {
        "main": [
          [
            {
              "node": "Tiene Demo Activa?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tiene Demo Activa?": {
        "main": [
          [
            {
              "node": "Enrutar a Demo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Detectar Intención",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enrutar a Demo": {
        "main": [
          [
            {
              "node": "Reenviar a Demo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detectar Intención": {
        "main": [
          [
            {
              "node": "Enviar Respuesta WA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Respuesta WA": {
        "main": [
          [
            {
              "node": "¿Activar Demo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Activar Demo?": {
        "main": [
          [
            {
              "node": "Activar Sesión en GSheets",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Activar Sesión en GSheets": {
        "main": [
          [
            {
              "node": "Obtener URL Demo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener URL Demo": {
        "main": [
          [
            {
              "node": "Arrancar Demo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-02T22:22:57.637Z",
        "id": 109,
        "workflowId": "bdjxbKMBKIoLD7NH",
        "versionId": "848d4ae9-8ba7-46c3-be74-de2c0bca9c00",
        "event": "activated",
        "userId": "92b9d887-3183-46b1-9db4-c38b54ef2cb6"
      },
      {
        "createdAt": "2026-03-02T22:22:57.861Z",
        "id": 111,
        "workflowId": "bdjxbKMBKIoLD7NH",
        "versionId": "848d4ae9-8ba7-46c3-be74-de2c0bca9c00",
        "event": "activated",
        "userId": "92b9d887-3183-46b1-9db4-c38b54ef2cb6"
      },
      {
        "createdAt": "2026-03-02T22:22:57.626Z",
        "id": 108,
        "workflowId": "bdjxbKMBKIoLD7NH",
        "versionId": "848d4ae9-8ba7-46c3-be74-de2c0bca9c00",
        "event": "deactivated",
        "userId": "92b9d887-3183-46b1-9db4-c38b54ef2cb6"
      },
      {
        "createdAt": "2026-03-02T22:22:57.848Z",
        "id": 110,
        "workflowId": "bdjxbKMBKIoLD7NH",
        "versionId": "848d4ae9-8ba7-46c3-be74-de2c0bca9c00",
        "event": "deactivated",
        "userId": "92b9d887-3183-46b1-9db4-c38b54ef2cb6"
      }
    ]
  }
}