01_PROYECTOS/01_ARNALDO_AGENCIA/workflows/captacion-leads/01_Scrapper_Google_Maps_SystemIA.json
{
  "name": "01 · Scrapper Google Maps — Gastronomía Argentina (System IA)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 832],
      "id": "b4ad1c4d-7814-4ca0-821b-52bc1996bf97",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "Generá UNA frase corta: \"Búscame [tipo de local] en [ciudad argentina]\"\n\nTipos de local: restaurantes, bares, cafés, cervecerías, parrillas, tenedores libres, pizzerías, hamburgueserías, heladerías, confiterías, bodegones, cantinas, sushi, resto-bar\n\nCiudades de Argentina: Buenos Aires, Córdoba, Rosario, Mendoza, Tucumán, Mar del Plata, Salta, Santa Fe, La Plata, San Juan, Neuquén, Resistencia, Posadas, San Luis, Bahía Blanca, Paraná, Formosa, Jujuy, Río Cuarto, Santiago del Estero, Corrientes, San Miguel de Tucumán, Villa María, Rafaela, Concordia\n\nReglas:\n- Solo UNA frase\n- Variá tipo de local y ciudad en cada respuesta\n- Sin explicaciones\n\nEjemplo: \"Búscame restaurantes en Córdoba.\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [544, 832],
      "id": "e4c78f95-6dde-4e16-b3d8-06546ea0bedc",
      "name": "OpenAI — Generar búsqueda",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI — System IA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42862ea8-a8c9-4f54-9dbd-898e9f4fe8a9",
              "name": "text",
              "value": "={{ $json.chatInput || $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 832],
      "id": "b405cd87-7c64-403a-8bc4-69d296f827a7",
      "name": "Mapeo de texto"
    },
    {
      "parameters": {
        "jsCode": "// Función para quitar tildes y limpiar texto\nconst normalize = (str) =>\n  str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase().trim();\n\nconst originalText = $json.text || '';\nconst text = normalize(originalText);\n\n// Patrones: buscame, quiero, necesito, hay... [nicho] en [ciudad]\nconst regex = /\\b(?:busc(a|ame|qu?ame)|quiero|necesito|hay)\\s+(.*?)\\s+en\\s+(.+?)([.,\\s]|$)/i;\nconst match = text.match(regex);\n\nif (match && match[2] && match[3]) {\n  const niche = match[2].trim();\n  const city = match[3].trim();\n  return [{ json: { niche, city, original: originalText } }];\n} else {\n  return [{ json: { error: '❌ No se pudo extraer nicho y ciudad.', original: originalText } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 832],
      "id": "921b5d9d-393e-41b8-ba55-9956f3840a9e",
      "name": "Diferenciar nicho de ciudad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42862ea8-a8c9-4f54-9dbd-898e9f4fe8a9",
              "name": "maps_url",
              "value": "=https://www.google.com/maps/search/{{ encodeURIComponent($json.niche + ' ' + $json.city) }}?hl=es&gl=ar&region=ar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1472, 832],
      "id": "c793b549-bebc-4be5-aff7-f5d999b1f254",
      "name": "Construir URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "TU_GOOGLE_PLACES_API_KEY_AQUI"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.websiteUri,places.displayName"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Diferenciar nicho de ciudad').item.json.niche }} en {{ $('Diferenciar nicho de ciudad').item.json.city }}\",\n  \"languageCode\": \"es\",\n  \"regionCode\": \"AR\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "maxRedirects": 2
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 832],
      "id": "2d91f987-30e9-4576-898c-e52d6dbe4d79",
      "name": "Scrapeo Google Maps — Places API",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [336, 1040],
      "id": "8fb10407-7c46-493a-bae0-62271c8a4fb5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 1040],
      "id": "5b763f74-58af-46b8-af3d-cd27a5b0636b",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0c892e7-3f34-428c-afee-60df996b500c",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "schema",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "ee97ab7a-9921-4c3b-95dd-2ede83a31a25",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "google",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "6326ca6f-8dc1-4ef4-8325-31100e23f0db",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "gstatic",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "6659d028-9d54-4fac-8f53-930c3c832680",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "whatsapp",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "7edbb875-1e2b-470a-8092-8c70f344232f",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "wa.link",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "1aafcb3c-5a40-4483-9dfc-a5c944938457",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "facebook",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "f486bcab-39f1-4726-a0c3-2c1afd5498ec",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "wa.me",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "18bdea02-0121-4887-996a-7b4c5c5dfc45",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "instagram",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "new-twitter",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "twitter",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "new-linkedin",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "linkedin",
              "operator": { "type": "string", "operation": "notContains" }
            },
            {
              "id": "new-youtube",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "youtube",
              "operator": { "type": "string", "operation": "notContains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [992, 1056],
      "id": "57296c92-5a38-4fb5-b24d-5705c518799e",
      "name": "Filter — Excluir redes sociales"
    },
    {
      "parameters": {
        "jsCode": "// Limpia URLs removiendo www. y normalizando\nconst items = $input.all();\n\nreturn items.map(item => {\n  const original = item.json.websiteUri || '';\n  const cleaned = original.replace(/^https?:\\/\\/(www\\.)?/i, 'https://');\n  const nombre = item.json.displayName?.text || '';\n  return {\n    json: {\n      ...item.json,\n      websiteUri: cleaned,\n      nombre: nombre\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 1056],
      "id": "bd8e3e2d-c5cb-4771-b14c-b9528353cb52",
      "name": "Limpiar web + extraer nombre"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "websiteUri",
        "options": {}
      },
      "id": "dedup-urls",
      "name": "Deduplicar URLs",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [1456, 1056]
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1696, 1056],
      "id": "321c286b-8c71-43ce-8979-345c29a8d23a",
      "name": "Wait 1s",
      "webhookId": "bb348ef4-dc0a-4377-9661-a64ca995804c"
    },
    {
      "parameters": {
        "url": "={{ $json.websiteUri }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 3
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1888, 1056],
      "id": "a12d13a2-0912-4b9a-9a45-4b2e55fbee43",
      "name": "Scrapeo de páginas web",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2096, 1056],
      "id": "a9bd6885-1d98-4579-a7ca-f396ef9e1882",
      "name": "Wait 0.5s",
      "webhookId": "063e5eaa-aa5f-4636-912c-ce0b7378b1bb"
    },
    {
      "parameters": {
        "jsCode": "const input = ($input.first().json.data || '').toString();\n\n// Regex para emails\nconst regex = /\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b/gi;\nconst matches = input.match(regex) || [];\n\n// Prefijos genéricos a excluir\nconst filtrosBloqueo = [\n  'info', 'contact', 'admin', 'support', 'noreply', 'no-reply',\n  'ventas', 'marketing', 'hello', 'service', 'help', 'mail',\n  'email', 'contacto', 'reservas', 'hola', 'webmaster', 'root',\n  'postmaster', 'hostmaster', 'abuse', 'newsletter', 'suscribe'\n];\n\n// Dominios técnicos/falsos\nconst dominiosBloqueo = [\n  'example.com', 'test.com', 'domain.com', 'email.com',\n  'sentry.io', 'wixpress.com', 'mailchimp.com', 'sendgrid.net'\n];\n\nconst extensionesBloqueo = ['.jpg', '.png', '.gif', '.webp', '.svg', '.css', '.js'];\n\nconst emails = matches.filter(email => {\n  const lower = email.toLowerCase();\n  const user = lower.split('@')[0];\n  const domain = lower.split('@')[1];\n  if (filtrosBloqueo.some(b => user.includes(b))) return false;\n  if (dominiosBloqueo.some(d => domain.includes(d))) return false;\n  if (extensionesBloqueo.some(ext => lower.includes(ext))) return false;\n  if (/[._-]{2,}/.test(user)) return false;\n  return true;\n});\n\nconst uniqueEmails = [...new Set(emails)];\n\nif (uniqueEmails.length === 0) {\n  return [{ json: { email: '' } }];\n}\n\nreturn uniqueEmails.map(email => ({ json: { email: email.toLowerCase() } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2304, 1056],
      "id": "d69c8478-5ec1-422b-8f81-dfee80170140",
      "name": "Extraer emails",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "671ac39a-b1fe-40ae-b7cb-8e0cdbdceea7",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "valid-email-format",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": { "type": "string", "operation": "regex" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2496, 1056],
      "id": "2b3da657-112f-42f6-af79-765032d98e65",
      "name": "Validar email"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [2720, 1040],
      "id": "93d9b9e2-b69c-4ef2-8279-bafd28ad3b0f",
      "name": "Borrar duplicados",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "TU_GOOGLE_SHEET_ID_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Loop Over Items').item.json.nombre }}",
            "Correo": "={{ $json.email }}",
            "Web": "={{ $('Loop Over Items').item.json.websiteUri }}",
            "Estado": "Sin enviar"
          },
          "matchingColumns": ["Web"],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Web",
              "displayName": "Web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2976, 1184],
      "id": "e6175e58-13c4-4eb5-8581-6597822347c2",
      "name": "Guardar lead en Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — System IA"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# ⚙️ CONFIGURACIÓN REQUERIDA\n\n## Antes de activar este workflow:\n\n### 1. Google Places API Key\nReemplazá `TU_GOOGLE_PLACES_API_KEY_AQUI` en el nodo **Scrapeo Google Maps**\n→ Creala en console.cloud.google.com → APIs → Places API (New)\n\n### 2. Google Sheets\nCreá una hoja con columnas:\n**Nombre | Web | Correo | Estado**\n\nReemplazá `TU_GOOGLE_SHEET_ID_AQUI` en el nodo **Guardar lead en Google Sheets**\n\n### 3. Credenciales n8n\n- `Google Sheets — System IA` → OAuth2 con tu cuenta\n- `OpenAI — System IA` → Tu API Key de OpenAI\n\n### 4. Schedule\nPor defecto corre cada minuto. Ajustá según necesidad.\n\n---\n## 📊 Flujo\nOpenAI genera búsqueda → Google Maps Places API → Scrape webs → Extrae emails → Google Sheets",
        "height": 560,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-560, 608],
      "id": "setup-note-scrapper",
      "name": "Setup — System IA"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "OpenAI — Generar búsqueda", "type": "main", "index": 0 }]]
    },
    "OpenAI — Generar búsqueda": {
      "main": [[{ "node": "Mapeo de texto", "type": "main", "index": 0 }]]
    },
    "Mapeo de texto": {
      "main": [[{ "node": "Diferenciar nicho de ciudad", "type": "main", "index": 0 }]]
    },
    "Diferenciar nicho de ciudad": {
      "main": [[{ "node": "Construir URL", "type": "main", "index": 0 }]]
    },
    "Construir URL": {
      "main": [[{ "node": "Scrapeo Google Maps — Places API", "type": "main", "index": 0 }]]
    },
    "Scrapeo Google Maps — Places API": {
      "main": [[{ "node": "Split Out", "type": "main", "index": 0 }]]
    },
    "Split Out": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Filter — Excluir redes sociales", "type": "main", "index": 0 }]
      ]
    },
    "Filter — Excluir redes sociales": {
      "main": [[{ "node": "Limpiar web + extraer nombre", "type": "main", "index": 0 }]]
    },
    "Limpiar web + extraer nombre": {
      "main": [[{ "node": "Deduplicar URLs", "type": "main", "index": 0 }]]
    },
    "Deduplicar URLs": {
      "main": [[{ "node": "Wait 1s", "type": "main", "index": 0 }]]
    },
    "Wait 1s": {
      "main": [[{ "node": "Scrapeo de páginas web", "type": "main", "index": 0 }]]
    },
    "Scrapeo de páginas web": {
      "main": [[{ "node": "Wait 0.5s", "type": "main", "index": 0 }]]
    },
    "Wait 0.5s": {
      "main": [[{ "node": "Extraer emails", "type": "main", "index": 0 }]]
    },
    "Extraer emails": {
      "main": [[{ "node": "Validar email", "type": "main", "index": 0 }]]
    },
    "Validar email": {
      "main": [
        [{ "node": "Borrar duplicados", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Borrar duplicados": {
      "main": [[{ "node": "Guardar lead en Google Sheets", "type": "main", "index": 0 }]]
    },
    "Guardar lead en Google Sheets": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "System IA" },
    { "name": "Captación Leads" },
    { "name": "Gastronomía Argentina" }
  ]
}
