02_DEV_N8N_ARCHITECT/workflows/captacion-leads/02_Icebreaker_Email_SystemIA.json
{
  "name": "02 · Icebreaker Email — Gastronomía Argentina (System IA)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-784, 1360],
      "id": "d0158389-0e94-4a72-8f4c-af28e9be22ad",
      "name": "Schedule Trigger — 9 AM"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "TU_GOOGLE_SHEET_ID_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-528, 1360],
      "id": "205dd9d1-4cb7-4e48-9435-2aaf71aae1da",
      "name": "Leer leads del Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — System IA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "filter-estado",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "Sin enviar",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-pendientes",
      "name": "Filtrar pendientes",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [-256, 1360]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [32, 1360],
      "id": "39ca5faa-c4fc-428a-8375-9457cc23f6d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Obtener la URL desde el item actual del loop\nconst item = $input.first();\nlet url = item.json.Web || '';\n\nif (!url || typeof url !== 'string' || url.trim() === '') {\n  return [{ json: { error: 'URL no válida', original: url } }];\n}\n\nurl = url.trim();\n\nif (!url.match(/^https?:\\/\\//i)) {\n  url = 'https://' + url;\n}\n\nurl = url.replace(/^http:\\/\\//i, 'https://');\nurl = url.replace(/^(https:\\/\\/)www\\./i, '$1');\n\nif (!url.endsWith('/')) {\n  url += '/';\n}\n\nreturn [{\n  json: {\n    cleanUrl: url,\n    originalUrl: item.json.Web\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [304, 1376],
      "id": "852674a4-c3c3-4a48-9331-5a52ed1ebf1b",
      "name": "Limpiar URL"
    },
    {
      "parameters": {
        "url": "={{ $json.cleanUrl }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 3
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [592, 1376],
      "id": "6a7727d0-f647-4861-b373-ed84e419fd4a",
      "name": "Scrape web del local",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb6979ad-b631-408e-b42b-8f2401b39c1c",
              "name": "correo",
              "value": "={{ $('Loop Over Items').item.json.Correo }}",
              "type": "string"
            },
            {
              "id": "999b858f-f84e-401a-8f8d-e8a7d2a9be23",
              "name": "web",
              "value": "={{ $('Loop Over Items').item.json.Web }}",
              "type": "string"
            },
            {
              "id": "nombre-local-field",
              "name": "nombreLocal",
              "value": "={{ $('Loop Over Items').item.json.Nombre || '' }}",
              "type": "string"
            },
            {
              "id": "html-content-field",
              "name": "htmlContent",
              "value": "={{ typeof $json === 'string' ? $json : JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [848, 1376],
      "id": "945dca9d-cb46-47d5-a7ba-52e2ca1e69d9",
      "name": "Mapeo correo + web + nombre"
    },
    {
      "parameters": {
        "jsCode": "// Obtener HTML\nconst input = $input.first().json;\nlet html = '';\n\nif (input.htmlContent && typeof input.htmlContent === 'string') {\n  html = input.htmlContent;\n} else if (input.data && typeof input.data === 'string') {\n  html = input.data;\n} else if (typeof input === 'string') {\n  html = input;\n}\n\nif (!html || html.trim() === '' || html === '{}' || html === 'undefined') {\n  return [{\n    json: {\n      cleanText: '',\n      coloresPrincipales: [],\n      colorPrimario: '#e65c00',\n      colorSecundario: '#f9d423',\n      colorAccento: '#ff6b35',\n      error: 'No se pudo obtener HTML de la web',\n      correo: input.correo || '',\n      web: input.web || '',\n      nombreLocal: input.nombreLocal || ''\n    }\n  }];\n}\n\n// Limpieza del texto visible\nconst cleanText = html\n  .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<\\/?[^>]+(>|$)/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 4000);\n\n// Extracción de colores HEX\nconst coloresEncontrados = new Set();\nconst hexMatches = html.match(/#([0-9a-fA-F]{3}){1,2}\\b/g) || [];\nhexMatches.forEach(color => coloresEncontrados.add(color.toLowerCase()));\n\nconst rgbMatches = html.match(/rgba?\\s*\\(\\s*\\d{1,3}\\s*,\\s*\\d{1,3}\\s*,\\s*\\d{1,3}(?:\\s*,\\s*[\\d.]+)?\\s*\\)/gi) || [];\nrgbMatches.forEach(rgb => {\n  const match = rgb.match(/(\\d{1,3})\\s*,\\s*(\\d{1,3})\\s*,\\s*(\\d{1,3})/);\n  if (match) {\n    const hex = '#' + [match[1], match[2], match[3]]\n      .map(x => parseInt(x).toString(16).padStart(2, '0'))\n      .join('');\n    coloresEncontrados.add(hex.toLowerCase());\n  }\n});\n\nconst coloresUtiles = Array.from(coloresEncontrados).filter(color => {\n  if (!color.startsWith('#') || color.length < 4) return false;\n  let hex = color.slice(1);\n  if (hex.length === 3) hex = hex[0]+hex[0]+hex[1]+hex[1]+hex[2]+hex[2];\n  const r = parseInt(hex.slice(0,2),16);\n  const g = parseInt(hex.slice(2,4),16);\n  const b = parseInt(hex.slice(4,6),16);\n  const brightness = (r*299 + g*587 + b*114) / 1000;\n  return brightness > 30 && brightness < 240;\n});\n\nconst coloresPrincipales = coloresUtiles.slice(0, 5);\nconst colorPrimario = coloresPrincipales[0] || '#e65c00';\nconst colorSecundario = coloresPrincipales[1] || '#f9d423';\nconst colorAccento = coloresPrincipales[2] || '#ff6b35';\n\nreturn [{\n  json: {\n    cleanText,\n    coloresPrincipales,\n    colorPrimario,\n    colorSecundario,\n    colorAccento,\n    correo: input.correo || '',\n    web: input.web || '',\n    nombreLocal: input.nombreLocal || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1072, 1376],
      "id": "7076b99f-b5f0-4dba-b4e1-11ea6fe6e105",
      "name": "Limpiar HTML + extraer colores"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=### DATOS DEL LOCAL\n\n**Nombre del local (si está disponible):** {{ $json.nombreLocal }}\n\n**Información extraída de su web:**\n{{ $json.cleanText }}\n\n**Colores de su marca (SOLO para diseño del email):**\n- Primario: {{ $json.colorPrimario }}\n- Secundario: {{ $json.colorSecundario }}"
            },
            {
              "content": "=Sos un experto en copywriting especializado en venta de servicios de **Automatización con IA para el rubro gastronómico**.\n\n## QUÉ VENDEMOS\nSomos **System IA**, una agencia argentina que ayuda a restaurantes, bares y cafés a:\n- Automatizar reservas y consultas por WhatsApp con IA (el bot responde en 3 segundos, 24/7)\n- Eliminar cancelaciones de último momento con confirmaciones automáticas y señas digitales\n- Recuperar clientes con mensajes automáticos de cumpleaños, promos y eventos especiales\n- Liberar al equipo de responder siempre lo mismo para que se enfoquen en la atención en mesa\n\n## TU TAREA\nEscribí un email de prospección en frío que:\n1. **Demostrá que investigaste su local** — Mencioná algo ESPECÍFICO de su web (su nombre si aparece, su tipo de cocina, su ambiente, algún servicio que destacan)\n2. **Conectá con un problema real** — Reservas que se pierden cuando nadie responde el WhatsApp de noche, cancelaciones sin aviso, equipo desbordado respondiendo siempre lo mismo\n3. **Presentá la solución de forma natural** — Cómo la IA maneja eso automáticamente mientras ellos atienden las mesas\n4. **Terminá con nuestra propuesta irresistible** — La Prueba Piloto de 7 días GRATIS, sin compromiso\n\n## TONO\n- Tuteá siempre (Argentina)\n- Directo y humano, nada corporativo\n- Como si hablaras con el dueño del local tomando un café\n- Sin frases de relleno (\"Espero que estés bien\", \"Me permito escribirte\")\n- Seguro del valor que aportamos, pero no arrogante\n\n## ESTRUCTURA (MÁX 130 palabras)\n1. **Gancho** — Algo específico del local que viste en su web\n2. **Problema** — Una frustración real de gastronomía (reservas perdidas, WhatsApp sin responder a las 10pm, equipo saturado)\n3. **Solución** — Cómo la IA atiende automáticamente y libera al equipo\n4. **CTA con Piloto** — \"¿Qué te parece si probamos 7 días completamente gratis en tu local? Si no te convence, lo apagamos y no pagás nada.\"\n\n## DISEÑO DEL EMAIL (HTML)\nUsá los colores de SU local SOLO para:\n- Botón CTA: fondo con su color primario\n- Link de firma: su color primario\n- El resto: fondo blanco (#ffffff), texto gris oscuro (#374151)\n- Tipografía: Arial, sans-serif\n\nEl botón CTA debe redirigir a: mailto:TU_EMAIL_SYSTEM_IA@gmail.com?subject=Re:%20[ASUNTO]\n\n## FIRMA\nUn abrazo,\nArnaldo & Mica\n**System IA** — Automatización para Gastronomía\n🌐 [systemIA.com.ar](https://systemIA.com.ar) · 📱 WhatsApp disponible\n\n## FORMATO DE SALIDA (JSON)\n```json\n{\n  \"ASUNTO\": \"[Asunto corto y directo - max 50 caracteres]\",\n  \"HTML\": \"[Email completo en HTML con estilos inline]\"\n}\n```\n\n## EJEMPLO DE EMAIL BUENO\n\"Vi que en [nombre del local] ofrecen [algo específico de la web]. Un lindo lugar.\n\nMe imagino que los viernes a la noche el WhatsApp no para — y cuando alguien intenta reservar a las 11pm y no hay respuesta, esa mesa se va a otro lado.\n\nNosotros instalamos un asistente con IA que atiende tu WhatsApp 24/7 y toma reservas automáticamente — sin que vos ni tu equipo toquen el celular.\n\n¿Qué te parece si lo probamos 7 días gratis en tu local? Si no te convence, lo apagamos y no pagás nada.\"\n\n## PROHIBIDO\n- Emails genéricos que sirvan para cualquier negocio\n- Más de 140 palabras\n- Vender agresivamente o prometer ventas garantizadas\n- Mencionar colores o diseño web en el texto\n- Hablar en castellano neutro (usá argentino)",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1264, 1376],
      "id": "6e17ef22-8d6b-4378-9a5f-24e82d662a49",
      "name": "GPT — Generar email Icebreaker",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI — System IA"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Mapeo correo + web + nombre').item.json.correo }}",
        "subject": "={{ $json.message.content.ASUNTO }}",
        "message": "={{ $json.message.content.HTML }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1952, 1136],
      "id": "35057710-f07c-49a2-8d6a-8f09b04f29ce",
      "name": "Enviar email por Gmail",
      "webhookId": "fe5ad01a-4fcd-47da-a355-162292216374",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail — System IA"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "TU_GOOGLE_SHEET_ID_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Web": "={{ $('Mapeo correo + web + nombre').item.json.web }}",
            "Correo Icebreaker": "={{ $json.message.content.ASUNTO }}",
            "Estado": "Enviado"
          },
          "matchingColumns": ["Web"],
          "schema": [
            {
              "id": "Web",
              "displayName": "Web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo Icebreaker",
              "displayName": "Correo Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1952, 1552],
      "id": "ce6f7cc4-cccb-4a62-bbec-b400ad52dd12",
      "name": "Actualizar estado en Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets — System IA"
        }
      }
    },
    {
      "parameters": {
        "content": "# ⚙️ CONFIGURACIÓN REQUERIDA\n\n## Antes de activar este workflow:\n\n### 1. Google Sheets ID\nReemplazá `TU_GOOGLE_SHEET_ID_AQUI` en los nodos:\n- **Leer leads del Google Sheets**\n- **Actualizar estado en Sheets**\n\n### 2. Email de System IA\nEn el nodo **GPT — Generar email Icebreaker**, en el system prompt, reemplazá:\n`TU_EMAIL_SYSTEM_IA@gmail.com` con tu email real.\n\n### 3. Credenciales n8n\n- `Google Sheets — System IA` → OAuth2\n- `OpenAI — System IA` → API Key\n- `Gmail — System IA` → OAuth2 con tu Gmail\n\n### 4. Schedule\nPor defecto corre a las 9 AM. Ajustá según necesidad.\n\n---\n## 📋 Estructura del Google Sheets\nColumnas necesarias:\n**Nombre | Web | Correo | Estado | Correo Icebreaker**\n\nLo llena el Workflow 01 (Scrapper).\nEste workflow lee los que tienen Estado = `Sin enviar`.",
        "height": 560,
        "width": 580,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-560, 1088],
      "id": "setup-note-icebreaker",
      "name": "Setup — System IA"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger — 9 AM": {
      "main": [[{ "node": "Leer leads del Google Sheets", "type": "main", "index": 0 }]]
    },
    "Leer leads del Google Sheets": {
      "main": [[{ "node": "Filtrar pendientes", "type": "main", "index": 0 }]]
    },
    "Filtrar pendientes": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Limpiar URL", "type": "main", "index": 0 }]
      ]
    },
    "Limpiar URL": {
      "main": [[{ "node": "Scrape web del local", "type": "main", "index": 0 }]]
    },
    "Scrape web del local": {
      "main": [[{ "node": "Mapeo correo + web + nombre", "type": "main", "index": 0 }]]
    },
    "Mapeo correo + web + nombre": {
      "main": [[{ "node": "Limpiar HTML + extraer colores", "type": "main", "index": 0 }]]
    },
    "Limpiar HTML + extraer colores": {
      "main": [[{ "node": "GPT — Generar email Icebreaker", "type": "main", "index": 0 }]]
    },
    "GPT — Generar email Icebreaker": {
      "main": [[
        { "node": "Enviar email por Gmail", "type": "main", "index": 0 },
        { "node": "Actualizar estado en Sheets", "type": "main", "index": 0 }
      ]]
    },
    "Actualizar estado en Sheets": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    { "name": "System IA" },
    { "name": "Captación Leads" },
    { "name": "Gastronomía Argentina" }
  ]
}
